footer 
    padding-top: 80px
    background: #fff 
    background-repeat: no-repeat
    background-position: 30%
    height: inherit
    padding-bottom: 50px

    & .circle_footer
        border-top: 70px solid #e2e2e2
        border-right: 90px solid #e2e2e2
        border-top-right-radius: 95%
        width: 245px
        height: 200px
        position: relative
        bottom: 0
        top: 50px

        & .footer_dots1
            width: 30px 
            height: 40px
            top: -55px
            left: 100px
            background: #fff
            position: absolute

        & .footer_dots2
            width: 15px 
            height: 17px
            top: -15px
            left: 130px
            background: #fff
            position: absolute

        & .footer_dots3
            width: 15px 
            height: 17px
            top: -33px
            left: 145px
            background: #fff
            position: absolute

        & .footer_dots4
            width: 30px 
            height: 30px
            bottom: 0
            left: 153px
            background: #ffffff
            position: absolute

        & .footer_dots5
            width: 15px 
            height: 15px
            bottom: 30px
            left: 183px
            background: #ffffff
            position: absolute

        & .footer_dots6
            width: 15px 
            height: 15px
            bottom: 45px
            left: 167px
            background: #ffffff
            position: absolute

    & .mid 
        padding-left: 50px
        padding-top: 10px

        & h1 
            font-size: 23px
            font-weight: 700
            letter-spacing: -1px
            color: #575757

        & ul 
            padding-top: 8px

            & li 
                padding-top: 10px
                font-weight: 500

                & a 
                    text-decoration: none
                    color: #8f8e8e

    & .bottom
        padding-left: 30px
        padding-top: 10px
        
        & h1 
            font-size: 23px
            font-weight: 700
            letter-spacing: -1px
            color: #575757


        & .form

            & input 
                padding: 20px
                margin: 20px 0 
                width: 330px
                color: #8f8e8e
                background-color: #f1f1f1
                border-top-left-radius: 30px
                border-bottom-left-radius: 30px
                border: #e7e7e7
                outline: none


            & button
                padding: 20px
                margin: 20px 0 
                width: 160px
                color: #fff
                font-weight: 700
                background-color: #414040
                border-top-right-radius: 30px
                border-bottom-right-radius: 30px
                border: #414040
        
        & h1
            color: #646464
            padding-top: 20px

        & a 
            color: #8f8e8e
            padding-top: 15px
            font-size: 14px

        & .icons
            padding-top: 30px

            & a
                padding: 10px

                & img 
                    background: #dadada
                    border-radius: 50%
                    padding: 10px