.section_next 
    padding-top: 20px
    padding-bottom: 70px
    background: #faf8f8
    background-size: cover

    & .circle_bottom
        border-bottom: 70px solid #b8b8b8
        border-left: 90px solid #b8b8b8
        border-bottom-left-radius: 95%
        width: 245px
        height: 200px
        position: absolute
        right: 98px
        margin-top: -20px

    & h1 
        color: #143d3e
        font-weight: 700
        font-size: 50px 

    & p
        color: #839d9a
        font-weight: 700
        width: 570px
        letter-spacing: -1px
        font-size: 17px
        padding-top: 20px

    .reasons 
        position: relative
        top: 50px

        & h1 
            font-weight: 700
            color: #668580

        & h2 
            font-weight: 700
            color: #1f4748

        & p 
            color: #9db3af
            font-size: 15px
            width: 250px
            padding: 0px
        