.section_bottom
    width: 100% 
    height: inherit
    background: url(../img/bottom_back.png)
    background-size: cover
    padding-bottom: 80px

    & .left_bottom
        width: 600px
        padding: 20px

        & h1
            padding: 50px 0 0 30px
            color: #fff
            font-weight: 700
            font-size: 35px
            line-height: 45px

        & p 
            color: #9c9b9b
            padding: 10px 10px 0 30px
            font-size: 16px
            font-weight: 700    

        & .left_info
            padding: 220px 0 0 140px

            & h4
                font-size: 21px
                color: #fff
                padding: 30px 0 0 3px

            & p
                padding: 10px 0 0 3px
                font-size: 15.5px
                letter-spacing: -1px
                line-height: 20px
                

            & button 
                width: 200px 
                height: 65px 
                color: #383838 
                background: #fff
                font-weight: 700
                font-size: 20px
                border-radius: 5px
                text-decoration: none
                border: #fff
                padding: 10px
                margin-top: 60px

    & .right_bottom 
        padding: 175px 0 0 80px 

        & h3 
            color: #fff
        
        & p 
            color: #9c9b9b
            font-size: 16px
            font-weight: 700    
            
